.main_chat
  .main_chat__header
    .main_chat__header__group_name
      %h1
        test
      .main_chat__header__group_name__member_name
        Member : masa
    .main_chat__header__edit
      = link_to("#" ,class: "main_chat__header__edit--btn") do    
        Edit
  .main_chat__message_list
    .main_chat__message_list__container
      .main_chat__message_list__container__name
        %h1
          masa
        %p  
          2020/05/08(Fri) 11:26:27
      .main_chat__message_list__container__message
        %p
          おはよう
    .main_chat__message_list__container
      .main_chat__message_list__container__name
        %h1
          masa
        %p  
          2020/05/08(Fri) 11:26:27
      .main_chat__message_list__container__message
        %p
          おはよう
    .main_chat__message_list__container
      .main_chat__message_list__container__name
        %h1
          masa
        %p  
          2020/05/08(Fri) 11:26:27
      .main_chat__message_list__container__message
        %p
          おはよう     
      
  .main_chat__message_from
  